<div class="range-block">
    {{#if error}}
        {{{errorDiv}}}
    {{/if}}
    <div id="{{prefix}}prompt_manager_drawer" class="inline-drawer wide100p flexFlowColumn {{prefix}}prompt_manager_drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <div class="{{prefix}}prompt_manager_header">
                <div class="{{prefix}}prompt_manager_header_advanced">
                    <span class="{{prefix}}prompt_manager_header_title" data-i18n="Prompts">Prompts</span>
                    <small class="{{prefix}}prompt_manager_header_description" data-i18n="Inspect, reorder, toggle, and edit injected prompts">Inspect, reorder, toggle, and edit injected prompts</small>
                </div>
                <div class="{{prefix}}prompt_manager_header_tokens"><span data-i18n="Total Tokens:">Total Tokens:</span> {{totalActiveTokens}}</div>
            </div>
            <div class="fa-solid fa-circle-chevron-down inline-drawer-icon down"></div>
        </div>
        <div class="inline-drawer-content {{prefix}}prompt_manager_drawer_content" style="display:none;">
            <ul id="{{prefix}}prompt_manager_list" class="text_pole"></ul>
            <div class="{{prefix}}prompt_manager_footer_slot"></div>
        </div>
    </div>
</div>
